
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  color: whitesmoke;
  height: 100vh;
}
.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  gap: 20px;
  font-size: 18px;
  margin-bottom: 1rem;
}

ul li a {
  color: #fff;
}

ul li a.active {
  color: #fff;
  opacity: 0.6;
}